body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #19376d;
}
/* Rest of your CSS */


.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 1em;
    padding: 2em;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product h2 {
    font-size: 1.2em;
}

.product p {
    font-size: 0.9em;
}

.product button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.product button:hover {
    background-color: #4cae4c;
}
